

* {
    background-color: #fffff8;
}

.overlayTopRight, .overlayTopLeft, .overlayBottomLeft, .overlayBottomRight {
    position: absolute;
    text-align: center;
    font-size: 15px;
    z-index: 2;

}

.overlayTopRight {
    /* Reposition logo from the natural layout */
    right: 0px;
    top: 0px;
}

.overlayTopLeft {
    left: 0px;
    top: 0px;
}

.overlayBottomLeft {
    left: 0px;
    bottom: 0px;
}

.overlayBottomRight {
    right: 0px;
    bottom: 0px;
}

.overlayTopMid {
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: 2;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

canvas {
    outline: none;
    border: none;
}

.slider{
    margin-top: 40px; 
    position: relative;
    display: block;
    /* min-height: 70; */
}


.sliderTitle {
    position: absolute;
    left: 50%;
    top: -40px;
    z-index: 2;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.tabbed {
    margin-left: 20px;
    font-size: 1.4rem;
}


.sidenav {
  
  height: 100%;
  width: 12.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-decoration: none !important;
  background-color: #f0f0e9;
}

.topnav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0 !important;
    width: 100%;
    background-color: rgb(253, 246, 246);
    text-decoration: none !important;
    z-index: 3;
}
  
.navbanner {
  position: fixed !important;
  margin-left: 20%;
  background-color: rgb(253, 246, 246);;
  width: 65%;
  height: 50px;
  background-image: url('../images/banner.png');
  background-size: 280px 50px;
  background-repeat: no-repeat ;
  background-position-x: center;
  overflow-wrap: break-word;
}

#bannerimage {
  position: static;
  top: 0 !important;
  left: 12.5%;
  width: 55%;
  display: block;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  height: 210px;
  width: 1566px;
  background-position: left;
  background-size: 1300px 180px;
  z-index: 0;
}

.sidenav a {
  padding: 8px 8px 8px;
  text-decoration: none;
  background: unset;
  text-shadow: unset;
  font-size: 18px;
  display: block;
  z-index: 2;
}

.topnav a {
    background: unset;
    text-shadow: unset;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    font-size: 17px;
    overflow: visible;
    z-index: 2;
  }
  


  .topnav a:hover, .sidenav a:hover{
    background-color: #dddddddd;
    text-decoration: none !important;
  }
  
  .topnav a.active {
    background-color: #55555560;
  }

  .sidenav a.active {
    background-color: #55555560;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (min-width: 993px) {
    .topnav {display: none; }
  }

@media screen and (max-width: 993px) {
    #bannerimage {display: none;}
    .sidenav {display: none; width: 0%;}
    .topnav{width: 100%;}
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: fixed; }
    .topnav.responsive .icon {
      position: absolute ;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}


.sliderContainer{
  display: block !important;
  z-index: 3;
}

.fitWidthPlot {
    /* flex-wrap: wrap; */
    left: 0 !important;
    font-size: 100%;
    max-width: 650px;
    margin-right: 24%;
    height: fit-content;
}

/* the canvas for torus */
#div_torus, #div_sepTorus{ 
    position: relative; 
}

.box-image-style {
  float: center;
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  background: unset!;
  text-shadow: unset!;
}


.katex { 
  font-size: 1em !important; 
  z-index: 4;
} 
